* {
  border: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --txt-black-color: black;
  --bg-color: white;
  --board-bg-color: rgb(0, 0, 0);
}
/* body.dark-mode {
  --txt-black-color: rgb(255, 255, 255);
  --bg-color: rgb(49, 49, 49);
  --board-bg-color: rgb(247, 247, 247);
} */
body {
  /* height: 100dvh; */
  width: 100dvw;
  background-color: #203240;
}
button {
  background-color: #40e0d0;
  box-shadow: inset 5px 5px 15px -5px black;
  color: rgb(0, 0, 0);
  padding: clamp(0.2rem, calc(1dvw + 0.2rem), 0.5rem);
  font-size: clamp(1rem, calc(1dvw + 1rem), 1.3rem);
  border-radius: 10px;
  line-height: 1;
    border: 1.5px solid #203240;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;

}
button:hover{
border: 1.5px solid turquoise;
color: turquoise;
background-color: transparent;
transform: translateY(-0.3rem);
}
label {
  font-size: clamp(1rem, calc( 1dvw + 1rem), 1.5rem);
  font-weight: 700;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}
table {
  table-layout: auto;
  border-collapse: collapse;
}
.score-table tr td {
  text-align: center;
}
th {
  border-right: 1px solid turquoise;
  border-bottom: 5px solid turquoise;
}
th:nth-of-type(2) {
  border-right: none;
}
td{
  border-right: 1px solid turquoise;
  border-bottom: 1px solid turquoise;
}
td:nth-of-type(2){
  border-right: none;
}
tr:nth-of-type(5) td{
  border-bottom: none;
}
.score-table tr th,
.score-table tr td {
  text-align: center;
  padding: 0.5rem 3dvw;
}
.score-menu{
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  align-items: center;
}
.min-text {
  font-size: clamp(1.2rem, calc(1dvw + 0.5rem), 2rem);
  font-weight: 700;
}
.max-text {
  font-size: clamp(1.7rem, calc(1vw + 1.5rem), 3rem);
  font-weight: 900;
}
.headers {
  text-align: center;
  font-size: clamp(1.7rem, calc(1vw + 1.5rem), 3rem);
  font-weight: 900;
}
.radio-number {
  scale: 2;
}
.star {
  color: gold;
}
.container {
  background-color: #203240;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100dvh;
  overflow-y: scroll;
}
.alert-player {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: -2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 5;
  height: 2rem;
}
.alert-box {
  max-width: 25%;
  background-color: #203240;
  border-radius: 0 0 15px 15px;
  border: 5px solid #203240;
  border-top: none;
  color: white;
  box-shadow: inset 0 0 10px turquoise, 0 0 10px turquoise;
  padding: 0.4rem 0.4rem 0 0.4rem;
  overflow: hidden;
  z-index: 1;
  transition: all linear 0.2s;
}
.alert-box p {
  overflow-wrap: break-word;
  font-size: clamp(0.7rem, calc(3dvw + 0.5rem), 1.1rem);
  font-weight: 900;
  text-align: center;
  padding-bottom: 0.2rem;
}
.player-game-info {
  width: calc(90dvw - 10px);
  padding: 0.5rem 5dvw;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}
.player-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-player-info {
  display: flex;
  align-items: center;
  gap: 5dvw;
}
.single-player-info input {
  border: 1px solid turquoise;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: transparent;
  color: turquoise;
  font-size: clamp(1rem, calc(1dvw + 0.2rem), 2rem);
  line-height: 1;
  font-weight: 700;
  outline: none;
}
.single-player-info-buttons {
  display: flex;
  gap: 5dvw;
  align-items: center;
}
.player-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #20324088;
  z-index: 4;
  display: none;
}
.player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.player-game-info .player:nth-of-type(2) {
  margin-left: auto;
}
.player-info p {
  padding: 0.2rem clamp(0.2rem, calc(1dvw + 0.2rem), 0.5rem);
  background-color: turquoise;
  color: black;
  box-shadow: inset 5px 5px 15px -5px;
  border-radius: 7px;
  font-size: clamp(1rem, calc(1dvw + 1rem), 1.3rem);
  font-weight: 900;
  max-width: 20dvw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.winning-pins {
  display: flex;
  gap: 0.2rem;
}
.win-pin {
  aspect-ratio: 1 / 1;
  height: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: none !important;
  background-image: none !important;
}
.pop-up-cover {
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 104;
}
.pop-up {
  max-width: 75dvw;
  max-height: 80dvh;
  padding: 1.5rem 3dvw;
  background-color: #203240;
  border-radius: 28px;
  border: 15px solid #203240;
  color: white;
  box-shadow: inset 0 0 10px turquoise, 0 0 10px turquoise;
}

.back-btn {
  font-weight: 900;
  font-size: clamp(2rem, calc(2vw + 1rem), 3rem);
  padding: 0.19rem 0.8rem;
}
.winner-menu {
  width: 40dvw;
  display: flex;
  flex-direction: column;
  gap: 3dvw;
}
.score-info {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-radius: 20px;
}
.score-info .player-info{
  width: 40%;
}
.score-info p {
  font-weight: 900;
}
.score {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  width: 20%;
  text-align: center;
}
.board-bg {
  background-color: #203240;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.board-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #2032406b;
  display: none;
}
.board {
  position: relative;
  background-color: black;
  width: calc(100% - 10px);
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 2px;
  padding: 5px;
  aspect-ratio: 1 / 1;
}

.green {
  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle {
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background-image: conic-gradient(
    rgb(218, 218, 0) 45deg,
    blue 45deg,
    blue 135deg,
    rgb(224, 0, 0) 135deg,
    rgb(224, 0, 0) 225deg,
    green 225deg,
    green 315deg,
    rgb(218, 218, 0) 315deg
  );
}
.red {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2px;
}
.box {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle-boxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
}
.yellow-bg {
  background-color: rgb(218, 218, 0) !important;
}
.yellow-bg-lighter {
  background-color: rgb(255, 252, 102);
}
.yellow-bg-darker {
  background-color: rgb(255, 255, 0);
}
.blue-bg {
  background-color: blue;
}
.blue-bg-lighter {
  background-color: rgb(106, 106, 255);
}
.red-bg {
  background-color: rgb(224, 0, 0);
}
.red-bg-lighter {
  background-color: rgb(255, 47, 47);
}
.green-bg {
  background-color: green;
}
.green-bg-lighter {
  background-color: rgb(0, 255, 0);
}
.pins {
  display: flex;
  gap: 10px;
  aspect-ratio: 1 / 1;
  position: relative;
  height: 55%;
  background-color: white;
  border: 0.7rem solid white;
}
.pin-in-parent-1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.pin-in-parent-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.pin-in-parent-3 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.pin-in-parent-4 {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.pin-in-box-1 {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  right: auto !important;
  bottom: auto !important;
  margin: auto;
}
.pin-in-box-2 {
  position: absolute;
  right: 0 !important;
  bottom: 0 !important;
  top: auto !important;
  left: auto !important;
  margin: auto;
}
.pin-in-box-3 {
  position: absolute;
  left: 0 !important;
  bottom: 0 !important;
  top: auto !important;
  right: auto !important;
  margin: auto;
}
.pin-in-box-4 {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  bottom: auto !important;
  left: auto !important;
  margin: auto;
}
.pin-in-goal-1 {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  right: auto !important;
  bottom: auto !important;
  margin: auto;
}
.pin-in-goal-2 {
  position: absolute;
  right: 0 !important;
  bottom: 0 !important;
  top: auto !important;
  left: auto !important;
  margin: auto;
}
.pin-in-goal-3 {
  position: absolute;
  left: 0 !important;
  bottom: 0 !important;
  top: auto !important;
  right: auto !important;
  margin: auto;
}
.pin-in-goal-4 {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  bottom: auto !important;
  left: auto !important;
  margin: auto;
}
.pin {
  transition: transform 0.2s ease-in-out; /* smooth scale */;
  z-index: 3;
  border-radius: 50%;
  box-shadow: inset -5px -5px 10px -5px rgba(255, 255, 255, 0.5),
    -5px -5px 10px -5px, 5px 5px 10px -5px rgba(0, 0, 0, 0.5),
    inset 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.397) 1%,
    rgba(255, 255, 255, 0)
  );
}
.shrink {
    transform: scale(0.3);
  }

  .grow {
    transform: scale(1);
  }
.flash {
  animation-name: flash;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: none;
  position: absolute;
}
.flash2 {
  animation-name: flash2 !important;
}
.removed-player::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2032406b;
}
.home {
  position: relative;
}
@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #ffffff8e;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes flash2 {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #2032408e;
  }
  100% {
    background-color: transparent;
  }
}
.hover-pin {
  animation-name: hover-pin;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes hover-pin {
  0% {
    box-shadow: inset -5px -5px 10px -5px rgba(255, 255, 255, 0.5),
      -5px -5px 10px -5px, 5px 5px 10px -5px rgba(0, 0, 0, 0.5),
      inset 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
    scale: 1;
  }
  50% {
    box-shadow: inset -5px -5px 10px -3px rgba(255, 255, 255, 0.5),
      -5px -5px 10px -5px, 5px 5px 10px -3px rgba(0, 0, 0, 0.5),
      inset 5px 5px 10px -3px rgba(0, 0, 0, 0.5);
    scale: 1.15;
  }
  100% {
    box-shadow: inset -5px -5px 10px -5px rgba(255, 255, 255, 0.5),
      -5px -5px 10px -5px, 5px 5px 10px -5px rgba(0, 0, 0, 0.5),
      inset 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
    scale: 1;
  }
}

.pin-in-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.players {
  display: flex;
  align-items: center;
  gap: 3dvw;
}
.players-num {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.options {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 1rem;
  font-weight: 900;
  width: 80%;
  padding: 0 10%;
}
.option {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.arrow-icon {
  z-index: 2;
  position: absolute;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(1.5rem, calc(3.5dvw + 1rem), 2.5rem);
}
.arrow-icon-2 {
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(1rem, calc(3.5dvw + 1rem), 2rem);
}
